h1 {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 5em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
}

h2 {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 2.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    color: white;
    letter-spacing: .03em;
    line-height: 1.25;
}

@media (max-width: 1150px) {
  h2 {
    font-size: 2em;
  }
}



h3 {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    margin-bottom: .25em;
}

h4 {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: .8em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .1em;
    margin: 0;

}


p {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
blockquote {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}



.textwhitebg {
    color: black;
    background-color: #ffffff;
    padding: .15em; 
}

.textblackbg {
    color: white;
    background-color: black;
    padding-top: .1em;
    padding-bottom: .1em;
    padding-left: .2em;
    padding-right: .2em;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 2.5em;
    letter-spacing: .06em;
    font-size: .9em;
}


.titlelist {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 900;
    padding-top: 1em;
    padding-bottom: .5em;
    margin: 0;
    letter-spacing: .05em;
}
.participants {
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .1em;
    margin: 0;
}
.participantlist {
    font-size: .9em;
    margin-top: 0;
    line-height: 1.2em;
}
.header { 
}



.logo img {
    width: 90%;
}


.sorter{
    text-align: left;
    line-height: 1.5em;
    font-weight: 400;
    position: absolute;
    z-index: 10;
    padding-top: 30px;
}

.sorter a{
    text-decoration: none;
    display: inline;
    
}

.sorter ul {
    padding-left: 12px;
    padding-bottom: 12px;
}

.sidebar ul li {
    list-style: none;
    margin: 0;
}

.navlevel1 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-bottom: .25em;
}

.navlevel1 a {
    background-color: white;
}

.navlevel1 a:hover, a:active, a:focus {
    color: white;
    background-color: black;
}

.navlevel2 {
    margin-left: 0em;
    list-style: none;
}

.navlevel2 a {
    background-color: white;
    font-weight: 500;
    line-height: 1.4em;
}

.navlevel2 a:hover {
    background-color: black;
    color: white;
}

.aboutnav {
  display: block;
  margin-top: 24px;  
}

/*.aboutnav a {
  color: white;
  background-color: black;
}

.aboutnav a:hover {
  color: black;
  background-color: white;
}*/

.sidebar {
    height: 85%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    list-style: none;
    margin-top: 0px;
    font-size: .9em;
    line-height: 1.6em;
    color: #3100B2;
    margin-right: 25px;
}

.sidebar:hover {
    overflow-y: scroll;
}

.sidebar, .sidebarwrapperout {
 width: 250px;
}
 
.sidebarwrapperout {
 position: relative;
 overflow: hidden;
}
 
.sidebarwrapperin {
 position: absolute;
 left: 0;
 overflow-x: hidden;
 overflow-y: scroll;
}
 
.sidebarwrapperin::-webkit-scrollbar {
 display: none;
}

a {
    color: black;
    padding: .1em;
    margin-top: 1em;
}

a:hover, a:active, a:focus {
    padding: .1em;
    text-decoration: none;
    color: black;
    background-color: white;
}

.logo a:hover {
  background-color: transparent;

}

/*a:visited {
    color: blueviolet;
}

a:hover:visited {
    color: yellow;
}*/


.container {
    margin-left: 224px;
    margin-right: 24px;
}

#intro {
  padding-left: 50px;
  position: absolute;
  bottom: 24px;
}

.fullscreen-container {
      height: 100vh;
      width: 100vw;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../images/previewstill.png') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
} 

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background-color: indigo;
    opacity: .65;
    z-index: -99;
    mix-blend-mode: darken;
/*    -webkit-animation-name: overlay; 
    -webkit-animation-overlay: 60s; 
    animation-name: overlay;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;*/
}


/*@-webkit-keyframes overlay {
    0%   {background-color: darkcyan;}
    15%  {background-color: green;}
    30%  {background-color: darkmagenta;}
    45% {background-color: red;}
    70% {background-color: indigo;}
    85% {background-color: grey;}
    100% {background-color: yellow;}


@keyframes overlay {
    0%   {background-color: darkcyan;}
    15%  {background-color: green;}
    30%  {background-color: darkmagenta;}
    45% {background-color: red;}
    70% {background-color: indigo;}
    85% {background-color: grey;}
    100% {background-color: yellow;}
}*/

.solidcontainer {
    min-width: 100%;
    width: 100vw;
    background-color: white;
    margin-top: 0;
}

#videosdiv {
  padding-top: 30px;
}


ul.grid-display {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 60px;
}

li.grid-display {
  list-style: none;

}

ul.grid-display li {
  list-style: none;
  margin-bottom: 20px;
  position: relative;
}

ul.grid-display .thumb {
  height: 277px;
}



ul.grid-display {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 60px;
}

ul.grid-display li {
  list-style: none;
  margin-bottom: 20px;
  position: relative;
}

ul.grid-display .thumb {
  height: 277px;
}

.setwidth {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 356px;
    list-style: none;
    margin-bottom: 2em;
}


.widewidth {
  width:800px;
}

@media (max-width: 1024px) {
  .widewidth {
    width: 356px;
  }
}



.imageContainer {
    position: relative;
    height: 183px;
}

.widecontainer {
  height:433px;
}

@media (max-width: 1024px) {
  .widecontainer {
    height: 183px;
  }
}

.imageContainer img {
    position: relative;
    max-width: 100%;
    z-index: 1;

}

.image-container iframe,  
.image-container object,  
.image-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.imggrid {
    padding-bottom: 15px;
}



#about {
    margin-left: 15px;
    width: 75%;
    padding-bottom: 100px;
}

.footer {
  padding-bottom: 100px;
}

a:empty {
   display: none;
}








